@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container-catalog {
  width: 100%;
  min-height: 100vh;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 11vh;
  padding-bottom: 3rem;
  padding-top: 1rem;
  background-image: url("background/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-content h2 {
  color: #58b7f1;
}

.main-content .line-1 {
  position: relative;
  margin: auto;
  width: 5%;
  height: 4px;
  background-color: #58b7f1;
  margin-top: 10px;
}

.main-content p {
  text-align: center;
  width: 45%;
  margin-top: 1rem;
}

.main-content .button {
  padding: 2rem 0;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-content .button button {
  color: #58b7f1;
  background-color: #ffffff;
  border: 2px solid #58b7f1;
  border-radius: 20px;
  width: 150px;
  height: 35px;
  transition: all 0.2s ease;
}

.main-content .button button.active {
  color: #ffffff;
  background-color: #58b7f1;
}

.main-content .button button:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #58b7f1;
}

.main-content .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 5rem;
  gap: 2rem;
}

.cards.slide-up {
  animation: slide-up 1.2s ease;
}

.main-content .cards .card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 251px;
  height: 346px;
  background: linear-gradient(153.82deg, #ffffff -21.19%, rgba(208, 208, 208, 0) 111.31%);
  filter: drop-shadow(1px 10px 5px rgba(0, 0, 0, 0.25));
  border-radius: 13px;
}

.main-content .cards .card img {
  margin-top: 2rem;
  max-width: 100%;
  height: 170px;
}

.main-content .cards .card p {
  font-weight: 700;
  margin-top: 35px;
  font-weight: 700;
}

.main-content .cards .card .fitur {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 90%;
  margin-top: 1rem;
  padding: 0 5px;
}

.main-content .cards .card .fitur img {
  margin-top: 0;
  height: 15px;
}
.main-content .cards .card .fitur p {
  text-align: center;
  margin-top: 0;
  font-size: 10px;
  font-weight: 400;
}

.main-content .cards .card .fitur p.passanger {
  width: 200px;
}

.main-content .cards .card .harga {
  margin-top: 1rem;
  font-size: 15px;
  width: 100%;
}

.line-price {
  background-color: #58b7f1;
  width: 70px;
  height: 3px;
  margin-top: 5px;
}

.motor {
  display: none;
}

@keyframes slide-up {
  0% {
    transform: translateY(150px);
    opacity: 0.7;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  .main-content p {
    width: 85%;
  }
  .main-content .button {
    width: 60%;
  }
}
